<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234916072663-0f2t707lmv5atjr5k6pu69q10krabfja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234916072663-0f2t707lmv5atjr5k6pu69q10krabfja</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>234916072663-akk7i9hedqfmsev9mm8dqj5efkb2ghgd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwb6GhHwEUUc99Di0IROS4fr65dn3ZvaU</string>
	<key>GCM_SENDER_ID</key>
	<string>234916072663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sad</string>
	<key>PROJECT_ID</key>
	<string>authentication-databse</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-databse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234916072663:ios:2ed3c7bf83b48524ef3492</string>
</dict>
</plist>